<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>About</title>
</head>
<body style = 'background-color: aliceblue;'>
    <div class="container">
        <div class="header">
            <h1 class="text-info" style="font-size:65px;">About Virtual Parks. . .</h1>
        </div>
        <div class="body">
            <p class="text-info">  
                To all who come to this happy place; welcome. Virtual Parks is your land. Here 
                age relives fond memories of the past…and here youth may savor the challenge 
                and promise of the future. Virtual Parks is dedicated to the ideals, the dreams 
                and the hard facts that have created America…with the hope that it will be a 
                source of joy and inspiration to all the world.
            </p>
        </div>
        <div class="footer">
            {% csrf_token %}
            <a href="/main" class="text-info">Home |</a>
            <a href="/about" class="text-info">About Virtual Parks |</a>
            <a href="/disney" class="text-info">Disney |</a>
            <a href="/universal" class="text-info">Universal |</a>
            <a href="/contact" class="text-info">Contact Us</a>
        </div>
    </div>
</body>
</html>