<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">    
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login</title>
</head>
<body style = 'background-color: aliceblue;'>
    <div id="container">
        <h1 class="text-info" style="font-size:85px;" style="text-align:center;">Virtual Parks</h1>

        <hr>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissable">
                <a href='' class="close" data-dismiss='alert' aria-label='close'>x</a>
                {{ message }}
            </div>
            {% else %}
            <div class="alert alert-danger alert-dismissable">
                <a href='' class="close" data-dismiss='alert' aria-label='close'>x</a>
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="row">
            <div class="col">
                <h2 class="text-info" style="font-size:55px;">Register:</h2>
                <form action="/register" method="post">
                    {% csrf_token %}
                    <label for="first_name" class="text-info">First Name:</label>
                    <input class="form-control" type="text" name="first_name">
                    <label for="last_name" class="text-info">Last Name:</label>
                    <input class="form-control" type="text" name="last_name">
                    <label for="email" class="text-info">Email:</label>
                    <input class="form-control" type="email" name="email">
                    <label for="password" class="text-info">Password:</label>
                    <input class="form-control" type="password" name="password">
                    <label for="password_confirm" class="text-info">Confirm Password:</label>
                    <input class="form-control" type="password" name="password_confirm"><br>
                    <input type="submit" value="Register" class="btn btn-info btn-block">
                </form>
            </div>
            <div class="col">
                <h2 class="text-info" style="font-size:55px;">Login:</h2>
                    <form action="/login" method="post">
                        {% csrf_token %}
                        <label for="email" class="text-info">Email:</label>
                        <input class="form-control" type="email" name="email">
                        <label for="password" class="text-info">Password:</label>
                        <input class="form-control" type="password" name="password"><br>
                        <input type="submit" value="Login" class="btn btn-info btn-block">
                    </form>
            </div>
        </div>
    </div>
</body>
</html>