*{
    margin: 0px;
    padding: 0px; 
    /* outline: 1px solid red; */
}
/* .container{
    width: flex;
    height: flex;
    background-color: aliceblue;
} */
.header{
    width:900px;
    height: 200px;
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 350%;
    padding-left: 200px;
    padding-top: 75px;
}
.body{
    width:900px;
    height:600px;
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
    padding-left: 200px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color: black;
    text-align: center;
 }
