*{
    margin: 0px;
    padding: 0px; 
    /* outline: 1px solid red; */
}
.header{
    width:900px;
    height: 200px;
    text-align: center;
    font-family: "Righteous";
    padding-left: 200px;
    padding-top: 75px;
    text-shadow: 2px 2px 5px coral;
}
.body{
    width:900px;
    height: 700px;
    text-align: center;
    font-family: "Righteous";
    font-size: 250%;
    padding-left: 200px;
    text-shadow: 2px 2px 5px coral;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: "Righteous";
    background-color:white;
    text-align: center;
    text-shadow: 2px 2px 5px coral;
 }
